html, body{
    height: 100%;
    padding: 0%;
    margin: 0;
}

body{
    background-image: url(../img/1124103.jpg);
    background-repeat: no-repeat;
    color: white;
    background-color: thistle;
}


.section{
    display: inline-block;
    vertical-align: top;
}

#section-list{
    width: 59%;
    height: 100%;
}

#section-form{
    width: 39%;
    background-color: teal;
    margin-left:24px;
    height: 100%;

}

.control{
    color: black;
    display: block;
    margin-bottom: 10px;
    margin-left: 4px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px 5px;
    width: 98%;
}

h3{
    text-align: center;
    color:white;
    font-weight: 600;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 20px;
    margin-top: 1rem;
}

#btn-save{
    margin-left: 4px;
}

#iconImp{
    font-size: 18px;
    float: right;
    margin-right: 10px;
    color: brown;
}

#iconImp.fas{
    color: blue;
    
}

.task{
    border: 1px solid white;
    background-color: thistle;
    display: flex;
    margin-top: 4rem;
    margin-left: 2rem;
    height: 75vh;
}

.task-section{
    flex: 1;
    margin-right: 10px;;
    
}

.far{
    flex: 1;
    margin-left: 10px;
    padding-top: 10px;
}

.task-desc{
    flex: 5;
}


#pendingTasks{
    font-family: fantasy;
    color:navy;
    font-size: 18px;
}
